# typings
typings

# testing
karma.conf.js
test.bundle.js
coverage

# demo build
demo
bundle/demo
bundle/ng2-autocomplete-demo.*
bundle/index.html
webpack.config.js

#temporary files
bundles/src/components

