<div class="autocomplete-dropdown">
    <div *ngIf="searching && displaySearching" class="autocomplete-searching">{{textSearching}}</div>
    <div *ngIf="!searching && (!results || results.length == 0)" class="autocomplete-searching">{{textNoResults}}</div>
    <div class="autocomplete-row" *ngFor="let result of results; let i=index" (mouseenter)="hoverRow(i)" (click)="onClick(result)" [ngClass]="{'autocomplete-selected-row': i == currentIndex}">
        <div *ngIf="result.image && result.image != ''" class="angucomplete-image-holder">
            <img *ngIf="result.image && result.image != ''" src="{{result.image}}" class="angucomplete-image" />
            <div *ngIf="!result.image && result.image != ''" class="angucomplete-image-default"></div>
        </div>
        <autocomplete-list-item [text]="result.title" [matchClass]="matchClass" [searchStr]="searchStr" [type]="'title'"></autocomplete-list-item>
        <autocomplete-list-item *ngIf="result.description && result.description != ''" 
            [text]="result.description" [matchClass]="matchClass" [searchStr]="searchStr" [type]="'description'">
        </autocomplete-list-item>

        <!--<div ng-if="matchClass && result.description && result.description != \'\'" class="angucomplete-description" ng-bind-html="result.description"></div>-->
        <!--<div *ngIf="!matchClass && result.description && result.description != ''" class="autocomplete-description">{{result.description}}</div>-->
    </div>
</div>