<div class="completer-holder" [ctr-completer]="dataService" [minSearchLength]="minSearchLength" [pause]="pause" [autoMatch]="autoMatch">
    <input class="completer-input" ctr-input [(ngModel)]="searchStr"
        [attr.name]="inputName" [placeholder]="placeholder"
        [attr.maxlength]="maxChars" (blur)="onBlur()" [tabindex]="fieldTabindex" [disabled]="disableInput"
        autocomplete="off" autocorrect="off" autocapitalize="off" />
    <completer-list *ngIf="showDropdown" class="completer-dropdown-holder" [results]="results"
        [searchStr]="searchStr" (selected)="selectResult($event)" [matchClass]="matchClass"
        [textSearching]="textSearching" [searching]="searching" [textNoResults]="textNoResults"
        [displaySearching]="displaySearching">
    </completer-list>

</div>