<div class="completer-holder">
    <!--<input [id]="id + '_value'" [name]="inputName" [tabindex]="fieldTabindex" [ngClass]="{'angucomplete-input-not-empty': notEmpty}"
        [(ngModel)]="searchStr" [disabled]="disableInput" [type]="inputType" [placeholder]="placeholder" [maxlength]="maxlength"
        [class]="inputClass" autocapitalize="off" autocorrect="off" completer="off" (blur)="hideResults($event)" (key)="inputChangeHandler($event)"
    />-->
    <!--<input #term
        [(ngModel)]="searchStr"
        (keyup)="keyupHandler($event)"
        (keydown)="keydownHandler($event)"
        [class]="inputClass"
        [name]="inputName"
        (blur)="hideResults($event)"
        [placeholder]="placeholder"
        [attr.maxlength]="maxlength"
        completer="off"
        autocorrect="off"
        autocapitalize="off"
    />-->
    <input 
        [(ngModel)]="searchStr"
        (keyup)="keyupHandler($event)"
        (keydown)="keydownHandler($event)"
        [attr.name]="inputName"
        [placeholder]="placeholder"
        [attr.maxlength]="maxChars"
        (blur)="onBlur()"
        [tabindex]="fieldTabindex"
        [disabled]="disableInput"
        completer="off"
        autocorrect="off"
        autocapitalize="off"
    />
    <completer-list *ngIf="showDropdown" [results]="results"  [searchStr]="searchStr" (selected)="selectResult($event)" 
       [matchClass]="matchClass" [textSearching]="textSearching" [searching]="searching" [textNoResults]="textNoResults" [displaySearching]="displaySearching">
    </completer-list>

</div>