/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

.main {
  padding: 5rem;
}

.autocomplete-wrapper {
    border-radius: 25px;
    background: lightgray;
}

:host >>> .match {
  color: orangered;
}