<!DOCTYPE html>
<html>
<head>
	<title>Ng2-completer demo</title>
	<% if ( htmlWebpackPlugin.options.environment.ENV === "development") { %>
	<base href="/">
	<%} else { %>
	<base href="/ng2-completer/">
	<% } %>
	<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
				integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
				crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="demo/res/css/indigo-pink.css" rel="stylesheet">
	<style> html, body {
		font-family: "Open Sans", sans-serif;
	}</style>
</head>
<body>
<demo-app>Loading...</demo-app>

<% if ( htmlWebpackPlugin.options.environment.ENV === "development") { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>

<!-- webpack injected scripts -->
</body>
</html>
