h1 {
  margin: 1em 0 .5em;

}

h3 {
  color: #444;
  border-bottom: 1px solid #efefef;
  margin: 3em 0 1em;
}

.form-group:last-child {
  margin-bottom: 0;
}

.card-block {
  background-color: #f2f2f2;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */
:host {
  padding: 5em 0;
}

.completer-wrapper {
  border-radius: 25px;
  background: lightgray;
}

:host > > > .match {
  color: darkred;
}

:host > > > .my-input-class {
  color: #2e405b;
}

.completer-limit /deep/ .completer-dropdown {
  overflow-y: auto;
  max-height: 20rem;
}