h1 {
  margin: 1em 0 .5em;

}

h3 {
  color: #444;
  border-bottom: 1px solid #efefef;
  margin: 3em 0 1em;
}

.form-group:last-child {
  margin-bottom: 0;
}

.card-block {
  background-color: #f7f5f2;
}

:host {
  padding: 5em 0;
}

:host > > > .match {
  color: darkred;
}

.completer-limit /deep/ .completer-dropdown {
  overflow-y: auto;
  max-height: 20rem;
}